<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">new reccipe</button>
    </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <a href="#" class="list-group-item clearfix" 
            *ngFor="let item of recipes"> 
            <!-- loop diatas digunakan untuk looping item di ddl -->
                <div class="fa-pull-left">
                 <h4 class="list-group-item-heading">{{item.name}} </h4> 
                <p class="list-group-item-text">{{item.description}}</p>  
                </div>
                <span class="pull-right">
                <!--src="{{item.imagePath}}" //imagepath bisa binding langsung dri data seperti contoh disamping-->
                    <!-- [src] ="recipe.imagepath" imagepath bisa juga binding pake property binding -->
                    <img 
                    [src]="item.imagePath" 
                    alt="{{item.name}}" class="img-responsive" style="max-height: 50px;">
                </span>
            </a>
            <app-recipe-item></app-recipe-item>
        </div>
    </div>